body {
    background-image: url('https://raw.githubusercontent.com/AR-DEV-1/REBELIEVE/main/main/assets/gui/background/1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; /* Center the image horizontally and vertically */
    padding: 20px; /* Add padding to the content */
    opacity: 0.5; /* Adjust opacity (0-1) */
}



