/* styles.css */
  body {  
margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    background: no-repeat fixed center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Prevent scrolling */
  }
#background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 200%; 
    height: 100%;
    z-index: -1; 
}
/* Hide the audio player */
audio {
    display: none;
}
   a {
        text-decoration: none;
        display: inline-block;
        margin: 10px;
    }

    img {
        width: 150px; /* Adjust the width as needed */
        height: auto; /* Maintain the aspect ratio */
        border: 2px solid #ccc; /* Add a border */
        border-radius: 5px; /* Add rounded corners */
    }
