/* styles.css */

body {
    background-size: cover; /* Cover the entire body with the background image */
    background-repeat: no-repeat; /* Prevent image repetition */
    background-position: center center; 
    color: #000; /* Black text color */
    text-align: center;
    font-family: Arial, sans-serif;
}

#title-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

