/* styles.css */

body {
    background-color: #fff; /* White background */
    color: #000; /* Black text color */
    text-align: center;
    font-family: Arial, sans-serif;
}

#title-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

